<div class="bar3">
	<div style="text-align: center;">
		<h1 style="color: #f2f2f2;">Daedalus</h1>
		<p style="color: #f2f2f2;">Proudly presented by:<br><br>
		Konstantinos Loukaidis<br>
		Georges Verouchis<br><br>
		A Web-programming course project<br><br>
		Department of Electrical Computer Engineering<br>
		University of Patras, GR<br><br>
		
		</p>
	</div>
</div>