<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" href="/css/styles_main.css">
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/network_planning_form.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="topnav">
        <a id="home" href="/">Home</a>
        <a id="form" href='network_planning'>For enterprises</a>
        <a id='about' href="/aboutus">About us</a>
</div>