<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">

    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <title>Gate management | Project Daedalus</title>

    <link href="../css/app-webkit.css" rel="stylesheet">
    <script type="text/javascript" src="../functions_js/logout.js"></script>
    <link href="../css/gate_management.css" rel="stylesheet">
    <link href="../css/loader.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        {{> sidebar}}
        <div class="main">
            {{> sidebar-toggle}}
            <main class="content">
                <div class="container-fluid p-0 gate-management">
                    <h1 class="h3 mb-3">Gate Management</h1>
                    <div class="row grid-container gm_pending">
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="../js/app-webkit.js"></script>
    <script src="../js/gate_management.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</body>

</html>