<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">

    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <title>Hello admin | Project Daedalus</title>

    <link href="/css/app-webkit.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/hello.css">
</head>

<body>
    <div class="wrapper">
        {{>sidebar}}
        <div class="main">
            {{> sidebar-toggle}}
            <main class="content">
                <div class="container-fluid p-0">

                    <h1 class="h3 mb-3">Home</h1>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="video-container" style="overflow: auto;">
                                        <iframe src="https://www.youtube.com/embed/M0GtowhBbyI?autoplay=1&modestbranding=1&autohide=1&showinfo=0&controls=0&mute=1&wmode=transparent&loop=1&&playlist=M0GtowhBbyI" frameborder="0" allow="accelerometer;
										 autoplay; encrypted-media; gyroscope; picture-in-picture" style="top: -14em;" allowfullscreen></iframe>

                                        <!--<div class="logo_over_text" style="font-size:8em; left: 7.5em; top: 4em;">Daedalus</div>
										<div class="logo_over_text" style="font-size:2.2em; left: 27.5em; top: 19em;">be part of Aviation</div>
										<div class="logo_over_text"><img src="img/logo.png" style="position:absolute; height: 14em; left: 44em; top: 32em;"></div>-->
                                        <!--<div class="logo_over_text" style="font-size:5em; text-align: center;">Daedalus</div>
										<div class="logo_over_text" style="font-size:2.2em; ">be part of Aviation</div>
										<div class="logo_over_text"><img src="logo.png" style="height: 11em"></div>-->
                                    </div>
                                    <div class="bar2">
                                        <p style="text-align: center; font-size: 6em; color:#fff; margin-top: 2em;">Welcome Admin</p>
                                        <div style="text-align: center"><img src="https://aceofgreece.files.wordpress.com/2013/02/athens_international_airport_eleftherios_venizelos3.jpg"></div>
                                        <p style="text-align: center; font-size: 4.5em; color:#fff;"><span id="adminTime"></span></p>
                                        <div style="text-align: center"><img src="https://i.ibb.co/2ch3cVT/Screenshot-2.jpg"></div>
                                        <br>
                                        <div class="mb-3" style="text-align: center;">
                                            <a href='/admin-logged/analytics'><button class="btn btn-primary"><i data-feather="pie-chart"></i> Analytics</button></a>
                                            <a href='/admin-logged/flight_applications'><button class="btn btn-secondary"><i data-feather="settings"></i> NP Applications</button></a>
                                            <a href='/admin-logged/gate_management'><button class="btn btn-success"><i data-feather="monitor"></i> Gate Management</button></a>
                                            <a href='/admin-logged/flight_table'><button class="btn btn-danger"><i data-feather="send"></i> Flights</button></a>
                                            <a href='/admin-logged/radar'><button class="btn btn-warning"><i data-feather="map-pin"></i> Radar</button></a>
                                            <a href='/admin-logged'><button class="btn btn-info"><i class="fas fa-info"></i> Daedalus</button></a>
                                        </div>


                                    </div>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>


    </div>
    </div>

    <!-- <script src="js/vendor.js"></script> -->
    <script src="/js/app-webkit.js"></script>
    <script>
        document.querySelector('.amain').classList+=" active"
        const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var today = new Date();
        document.getElementById('adminTime').innerText = `${days[today.getDay()]} ${months[today.getMonth()]} ${today.getDate()} ${"20"+("0" + today.getYear()).slice(-2)}, ${today.toLocaleTimeString()}`

    </script>

</body>

</html>