<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">

	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<title>Radar | Project Daedalus</title>

	<link href="/css/app-webkit.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		{{> sidebar}}
		<div class="main">
			{{> sidebar-toggle}}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Radar</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"></h5>
									<iframe src = "http://www.flightradar24.com/simple_index.php?lat=37.93&lon=23.94&z=12" height="1000em" width="2150em"> </iframe>
									<div style="text-align: left">
										<img src="https://upload.wikimedia.org/wikipedia/en/3/33/Athens_airport_logo.svg">
										<img src="https://i.ibb.co/2ch3cVT/Screenshot-2.jpg" alt="Daedalus" border="0" height="60em">
										<img src="https://www.flightradar24.com/blog/wp-content/uploads/2020/04/Hi_Res.jpg" alt="Flight-Radar-24" border="0" height="60em">
										
									</div>
								</div>
								<div class="card-body">
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
		</div>
	</div>

	{{!-- <script src="/js/vendor.js"></script> --}}
	<script src="/js/app-webkit.js"></script>
	<script>
		document.querySelector('.rdr').classList+= ' active'
	</script>

</body>

</html>